* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Roboto;
}
html {
    font-size: 62.5%;
}
.cabecera {
    background: rgb(255, 255, 255);
    height: 50vh;
    background-image:url('../img/header.jpg');
    background-size: cover; 
    background-position: center;
}
.cabecera .menu {
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
    transition: 0.5s;
}
.cabecera .menu:hover{
    background:  rgba(0, 153, 255, 0.336);
}
.cabecera .menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 2px;
    transition: 0.3s;
}
.cabecera .menu a:hover {
    background: rgba(0, 153, 255, 0.473);
   /*  box-shadow: 2px 2px 8px 10px rgba(0,0,0,0.75); */
}
/*info de header*/
.info-header{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-header .info-content{
    display: flex;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.747);;
    padding: 1rem;
    width: 35rem;
    height: 10rem;
    /* border: 3px solid rgba(255, 255, 255, 0.699); */
    background: rgba(0, 153, 255, 0.336);
    margin-top: 15rem;
}
.info-header .info-content .content-img{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
    align-items: center;
}
.info-header .info-content .content-img img{
    width: 80px;
    border-radius: 50%;
    /* border: 3px solid rgba(255, 255, 255, 0.699); */
}
.content-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:  rgba(255, 255, 255, 0.747);
    border-left: 3px solid rgba(255, 255, 255, 0.747);
    align-items: center;
    padding: 0 1.5rem;
    width: 80%;
}
.content-title h1 {
    font-size: 2.5rem;
}
.content-title h4 {
    font-size: 1.6rem;
}
/*acerca de* MAIN*/
main {
    height: 140vh;
    background: rgb(0, 0, 0);
}
.cont-acercade{
    height: 20%;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
}
.acercade{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    color: rgb(53, 53, 53);
}
.acercade h3{
    margin: 10px 0;
    font-size: 1.6rem;
    color: rgb(0, 132, 255);
} 
.acercade p{
    font-size: 1.2rem;
}
.acercade .link{
    color: rgb(17, 0, 255);
    text-decoration: none;
}
/*Trabajos-fotos*/
.cont-trabajo{
    height: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(130deg,  rgb(0, 132, 255),  rgb(3, 194, 228));
    color: rgba(0, 0, 0, 0.363);
    padding: 10px 40px;
}
.cont-trabajo .cont-img img{
    width: 10rem;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.623);
    transition: 2s;
    filter:blur(1.5px);
    margin: 0 35px;
}
.cont-trabajo .cont-img img:hover{
    transform: scale(1.1);
    filter:blur(0);
}

.cont-trabajo h3, h2{
    display: flex;
    justify-content: center;
}
/*Formulario*/
.Formulario{
    background: rgb(255, 255, 255);
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.Formulario .contacto{
    font-size: 1.6rem;
    color: rgb(0, 132, 255);
    height: 40px;
}
.Formulario .n-e{
    height: 35px;
}
.Formulario .n-e #Nombre {
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    margin: 0 5px;
}
.Formulario .n-e #email {
    height: 30px;
    border-radius: 5px;
    padding: 3px;
    margin: 0 5px;
}
.Formulario #Mensaje {
    height: 50px;
    width: 37rem;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}
.Formulario #enviar{
    width: 5rem;
    height: 20px;
    background:  rgb(0, 98, 190);
    margin: 5px;
    border-radius: 5px;
    color: white;
}
/*footer*/
footer{
    height: 10vh;
}
.cont-footer{
    height: 100%;
    background-image: linear-gradient(130deg,  rgb(0, 132, 255),  rgb(3, 194, 228));    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-footer a{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    margin: 0 15px;
    transition: 1s;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.534);
}
.cont-footer a:hover{
    transform: scale(1.1);
}

